@page "/"

<PageTitle>Dom</PageTitle>

<h1>Witaj Nauczycielu</h1>

Witamy na szkoleniu.
<hr />
<br />
@* <img src="https://img.joemonster.org/i/al/nauczyciel.jpg" /> *@
<img src="Obrazy/nauczyciel.jpg" />
<br/>
<p> Elektronik S A </p>
